<div class="modal modal--appsList fade" id="read-attachment-table" tabindex="-1" aria-labelledby="read-attachment-table"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h2 class="registration__title">Приложения <br>
                для ознакомления</h2>
            <form class="modal__body">
                <div class="modal__list">
                    <div class="modal__list-row">
                        <div class="modal__list-item">Приложение</div>
                        <div class="modal__list-item">Дата</div>
                        <div class="modal__list-item">Ознакомлен</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal--apps fade" id="read-attachment" tabindex="-1" aria-labelledby="read-attachment" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="registration__subtitle">Ознакомьтесь с новыми приложениями, после этого панель отчётов инвестора станет
                доступна.
            </div>
            <div data-bs-dismiss="modal" aria-label="Close">
                <a href="/" class="button annex-look" onclick="event.preventDefault()" data-bs-toggle="modal"
                   data-bs-target="#read-attachment-table">
                    <span>Посмотреть</span>
                </a>
            </div>
        </div>
    </div>
</div>
