<div class="modal fade" id="read-attachment-table" tabindex="-1" role="dialog" aria-labelledby="read-attachment" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 75%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-responsive" style="font-weight: 600; color: #11325b;">Приложения для ознакомления</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true" class="text-responsive">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="attachment-table" class="table table-striped table-hover">
                        <thead style="text-align: center">
                        <tr>
                            <th scope="col" class="text-responsive">Приложение</th>
                            <th scope="col" class="text-responsive">Ознакомлен</th>
                            <th scope="col" class="text-responsive">Дата</th>
                        </tr>
                        </thead>
                        <tbody class="text-responsive-annex">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="read-attachment" class="container-fluid bg">
    Ознакомьтесь с новыми приложениями, после этого панель отчётов инвестора станет доступна.
    <br>
    <br>
    <div class="row">
        <div class="col">
            <button id="look" type="button" class="btn btn-primary annex-look" data-toggle="modal" data-target="#read-attachment-table">Посмотреть</button>
        </div>
        <div class="col">
            <a th:href="@{/logout}" style="color: white; text-decoration: none" >
                <button type="button" class="btn btn-success annex-exit">Выход</button>
            </a>
        </div>
    </div>
</div>
