<div class="modal modal--password fade" id="change-phone-form-modal" tabindex="-1" aria-labelledby="number" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            <h2 class="registration__title" id="title">Смена номера телефона</h2>
            <form class="registration__body" id="by-phone" data-method="by-phone">
                <div class="registration__field">
                    <div class="registration__field-name">Старый номер телефона
                    </div>
                    <div class="registration__field-item">
                        <div class="f-input__wrapper ">
                            <input data-phone-mask="+7 (999) 999-99-99" name="default" type="text"
                                   placeholder="+7 (999) 999-99-99" class="f-input  " id="old-phone">
                        </div>
                    </div>
                </div>
                <div class="registration__field">
                    <div class="registration__field-name">Новый номер телефона
                    </div>
                    <div class="registration__field-item">
                        <div class="f-input__wrapper ">
                            <input data-phone-mask="+7 (999) 999-99-99" name="default" type="text"
                                   placeholder="+7 (999) 999-99-99" class="f-input  " id="new-phone">
                        </div>
                    </div>
                </div>
                <div class="registration__action">
                    <button class="button  " id="change-phone">
                        <span>Изменить</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
