<div class="modal modal--send-number fade" id="confirm-form-modal" tabindex="-1" aria-labelledby="send-number"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <!-- состояния отображаются по классу success / error у modal-content -->
        <div class="modal-content" id="response-state">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="registration registration--verification">
                <form method="POST" action="#" class="registration__body" id="confirm-form">
                    <input type="hidden" id="is-old" value="true">
                    <input type="hidden" id="confirm-method" value="BY_PHONE">
                    <div class="registration__field d-block">
                        <div class="registration__subtitle" id="title">Введите код подтверждения</div>
                        <div class="registration__field-item">
                            <div class="f-input__wrapper ">
                                <input id="confirm-code" type="text" placeholder="......" class="f-input  ">
                            </div>
                            <button type="submit" class="button  " id="confirm">
                                <span>Подтвердить</span>
                            </button>
                            <a th:href="@{/#}" class="registration__action-link retry-send">
                                Отправить код повторно
                            </a>
                        </div>
                    </div>
                    <div class="modal__success">
                        <div class="modal__success-text" id="success-text">
                            Ваш номер телефона успешно изменен Номер телефона - ваш логин при входе личный кабинет.
                        </div>
                        <svg class="icon__succ" width="50px" height="50px">
                            <use xlink:href="/img/svg-symbols.svg#succ"></use>
                        </svg>
                    </div>
                    <div class="modal__error">
                        <div class="modal__error-text" id="fail-text">Код введен неверно</div>
                        <svg class="icon__err" width="50px" height="50px">
                            <use xlink:href="/img/svg-symbols.svg#err"></use>
                        </svg>
                        <a th:href="@{/#}" class="registration__action-link retry-send" style="margin-left: 0;">
                            Отправить код повторно
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
