<div class="modal" tabindex="-1" role="dialog" id="confirm-form-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">ПОДТВЕРДИТЕ НОМЕР ТЕЛЕФОНА</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form method="POST" action="#" class="form-horizontal"
                     style="margin: 10px 0 10px 0" id="confirm-form">
            <div class="form-group row">
              <label class="col-sm-4 offset-sm-2 col-form-label-sm" for="confirm-code">ВВЕДИТЕ ПОЛУЧЕННЫЙ КОД:</label>
              <div class="col-sm-4">
                <input type="text" id="confirm-code" class="form-control input-sm" required/>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="confirm">ПОДТВЕРДИТЬ</button>
      </div>
    </div>
  </div>
</div>
