<div class="modal fade" id="restore-password-form-modal" tabindex="-1" aria-labelledby="restore password" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h2 class="modal__title" id="title">Восстановление пароля</h2>
            <form method="POST" action="#" class="modal__body" id="restore-password-form">
                <div class="modal__fild">
                    <div class="modal__fild-name">Введите номер телефона, который использовали при регистрации</div>
                    <div class="modal__fild-item">
                        <div class="f-input__wrapper ">
                            <input data-phone-mask="+7 (999) 999-99-99" name="default" type="text"
                                   placeholder="Номер телефона" class="f-input  " id="phone-number" >
                        </div>
                    </div>
                </div>
                <div class="modal__action">
                    <div data-bs-dismiss="modal">
                        <button class="button  " onclick="event.preventDefault()" data-bs-toggle="modal" id="restore">
                            <span>Восстановить</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
