<div th:fragment="account-info-card" id="account-info-card">
    <div th:if="*{!user.accredited}">
        <div class="info-card info-card--m">
            <div class="info-card__name">Счет инвестора</div>
            <div class="info-card__desc">Доступен после аккредитации</div>
        </div>
    </div>
    <div th:if="*{user.accredited}">
        <div class="info-card info-card--l info-card--flex">
            <div class="info-card__name" th:text="*{user.investorNumber} ? *{'Счёт № ' + user.investorNumber} : 'Счёт не найден'"></div>
            <div class="info-card__item">
                <span>Свободно </span><span th:text="${#numbers.formatDecimal(user.balance.sum, 1, 'WHITESPACE', 0, 'COMMA') + ' руб.'}"></span>
            </div>
            <div class="info-card__item">
                <span>В инвестициях </span ><span th:text="${#numbers.formatDecimal(invested, 1, 'WHITESPACE', 0, 'COMMA') + ' руб.'}"></span>
            </div>
            <div class="info-card__item">
                <span>Заработано </span><span th:text="${#numbers.formatDecimal(0, 1, 'WHITESPACE', 0, 'COMMA') + ' руб.'}"></span>
            </div>
        </div>
    </div>
</div>
