<!DOCTYPE HTML>
<html lang="RU" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<footer class="footer" th:fragment="footer" id="footer">
    <div class="footer__info">
        <div class="footer__info-text"> </div>
        <a th:href="@{/#}" class="footer__info-text"> </a>
        <div class="footer__info-socials">
            <div class="footer__info-socials--item">
                <svg class="icon__tg" width="30px" height="30px">
                    <use xlink:href="/img/svg-symbols.svg#tt"></use>
                </svg>
                <a th:href="@{https://teletype.in/@ddkolesnik}" target="_blank"></a>
            </div>
            <div class="footer__info-socials--item">
                <svg class="icon__inst" width="30px" height="30px">
                    <use xlink:href="/img/svg-symbols.svg#inst"></use>
                </svg>
                <a th:href="@{https://instagram.com/kolesnik.group}" target="_blank"></a>
            </div>
        </div>
    </div>
    <div class="footer__questions">
        <div class="footer__questions-name">Есть вопрос?</div>
        <a href="mailto:office.tmn.ddk@gmail.com" class="link  ">office.tmn.ddk@gmail.com</a>
        <a href="https://t.me/ddkclient_bot" class="link  " target="_blank">Чат-бот в телеграм</a>

        <a href="" class="footer__questions-link"></a>
        <a href="" class="footer__questions-link"></a>
    </div>
</footer>
</body>
