<!DOCTYPE HTML>
<html lang="RU" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<header class="header " th:fragment="header" id="header">
    <div class="header__logo">
        <svg class="icon__logo" width="155px" height="22px">
            <use xlink:href="/img/svg-symbols.svg#logo"></use>
        </svg>
        <a href="/"></a>
    </div>
    <div class="header__menu">
    </div>
    <div th:if="${!#request.getServletPath().contains('/login') and #request.getServletPath().contains('/registration')}">
        <div class="header__btn">
            <a href="/" class="button button--header ">
                <span>Войти</span>
            </a>
        </div>
    </div>
    <div sec:authorize="isFullyAuthenticated()">
        <div class="header__user">

        <svg class="icon__user" width="32px" height="32px">
            <use xlink:href="/img/svg-symbols.svg#user"></use>
        </svg>

        <div class="header__user-menu--shell">
            <div class="header__user-menu">
                <div class="header__user-name">
                    <div class="header__user-info">
                        <span>Аккаунт</span>
                        <span id="login" th:text="${login}"></span>
                    </div>
                    <div class="header__user-logo">

                        <svg class="icon__user2" width="32px" height="32px">
                            <use xlink:href="/img/svg-symbols.svg#user2"></use>
                        </svg>

                    </div>
                </div>
                <div class="header__user-links">
                    <span data-bs-toggle="modal" data-bs-target="#change-password-form-modal">Сменить пароль</span>
                    <span data-bs-toggle="modal" data-bs-target="#change-phone-form-modal">Сменить номер телефона</span>
                    <a href="/">Выйти</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
</body>
