<!DOCTYPE HTML>
<html lang="RU" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

</head>
<body>
<header class="header " th:fragment="header--auth" id="header">
    <div class="header__logo">
        <svg class="icon__logo" width="155px" height="22px">
            <use xlink:href="/img/svg-symbols.svg#logo"></use>
        </svg>
        <a th:href="@{/profile}"></a>
    </div>
    <div class="header__menu">
        <div th:if="${#request.getServletPath().contains('/investments')}" class="header__link" th:text="${'Баланс: ' + #numbers.formatDecimal(invested, 1, 'WHITESPACE', 2, 'COMMA') + ' руб.'}"></div>
        <div th:if="${#request.getServletPath().contains('/investments')}" class="header__link" th:text="${'Свободный капитал: ' + #numbers.formatDecimal(balance, 1, 'WHITESPACE', 2, 'COMMA') + ' руб.'}"></div>
        <a th:if="${#request.getServletPath().contains('/investments')}" class="header__link" th:href="@{/}">На главную</a>
        <a th:if="${#request.getServletPath().contains('/investments')}" class="header__link" th:href="@{/}" id="closed-projects">Реализованные проекты</a>
    </div>
    <div th:if="${!#request.getServletPath().contains('/login') and #request.getServletPath().contains('/registration')}">
        <div class="header__btn">
            <a th:href="@{/}" class="button button--header ">
                <span>Войти</span>
            </a>
        </div>
    </div>
    <div sec:authorize="isFullyAuthenticated()">
        <div class="header__user">

        <svg class="icon__user" width="32px" height="32px">
            <use xlink:href="/img/svg-symbols.svg#user"></use>
        </svg>

        <div class="header__user-menu--shell">
            <div class="header__user-menu">
                <div class="header__user-name">
                    <div class="header__user-info">
                        <span>Аккаунт</span>
                        <span id="login" th:text="${login}"></span>
                    </div>
                    <div class="header__user-logo">

                        <svg class="icon__user2" width="32px" height="32px">
                            <use xlink:href="/img/svg-symbols.svg#user2"></use>
                        </svg>

                    </div>
                </div>
                <div class="header__user-links">
                    <span data-bs-toggle="modal" data-bs-target="#change-password-form-modal">Сменить пароль</span>
                    <span data-bs-toggle="modal" data-bs-target="#change-phone-form-modal">Сменить номер телефона</span>
                    <a th:href="@{/logout}">Выйти</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
</body>
