<div class="modal modal--send fade" id="message-form-modal" tabindex="-1" aria-labelledby="sendLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal__desc" id="message">
        Вам отправлено смс с временным паролем. Используйте его для авторизации
      </div>
      <div data-bs-dismiss="modal" aria-label="Close">
        <button class="button  " id="ok">
          <span>Войти</span>
        </button>
      </div>
    </div>
  </div>
</div>
