<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="RU">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Колесник</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="telephone=no" name="format-detection">
    <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
    <meta name="HandheldFriendly" content="true">

    <!--[if (gt IE 9)|!(IE)]><!-->
    <link th:href="@{/css/main.min.css}" rel="stylesheet" type="text/css">
    <!--<![endif]-->
    <meta property="og:title" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="500"/>
    <meta property="og:image:height" content="300"/>
    <meta property="twitter:description" content=""/>
    <link rel="image_src" href=""/>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <script>
        (function (H) {
            H.className = H.className.replace(/\bno-js\b/, 'js')
        })(document.documentElement)
    </script>
</head>

<body class="page page--colored">
<div class="page__top page__top--colored">
    <div th:replace="~{fragments/header.html :: #header}"></div>
    <main class="page__inner ">
        <section class="section section--auth">
            <div class="container">
                <div class="registration registration--auth">
                    <h2 class="registration__title">Вход <br>
                        в личный кабинет</h2>
                    <form class="registration__body" th:action="@{/login}" th:method="POST">
                        <div class="registration__field">
                            <div class="registration__field-name">Логин</div>
                            <div class="registration__field-item">
                                <div class="f-input__wrapper ">
                                    <input data-phone-mask="+7 (999) 999-99-99" name="username" type="text"
                                           placeholder="Номер телефона" class="f-input  " id="phone">
                                </div>
                            </div>
                        </div>
                        <div class="registration__field">
                            <div class="registration__field-name">Пароль</div>
                            <div class="registration__field-item">
                                <div class="f-input__wrapper ">
                                    <input name="password" type="password" placeholder="Направляли в письме"
                                           class="f-input  ">
                                </div>
                            </div>
                        </div>
                        <div class="registration__action">
                            <button class="button  " type="submit" id="submit">
                                <span>Войти</span>
                            </button>
                            <div class="registration__action-link">
                                <div data-bs-toggle="modal" data-bs-target="#restore-password-form-modal">
                                    <a href="" class="link link--colored link--clear" onclick="event.preventDefault()">Вспомнить
                                        пароль</a>
                                </div>
                                <a th:href="@{/registration}" class="link link--colored link--clear">Создать личный кабинет</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</div>
<aside class="page__bottom">
    <div th:replace="~{fragments/footer.html :: #footer}"></div>
    <script th:src="@{/js/separate-js/svg4everybody.min.js}"></script>
    <script>
        svg4everybody();
    </script>
    <script th:src="@{/js/main.min.js}"></script>
</aside>

<div class="modal modal--send-number fade" id="send-number" tabindex="-1" aria-labelledby="send-number"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <!-- состояния отображаются по классу success / error у modal-content -->
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="registration registration--verification">
                <form class="registration__body">
                    <div class="registration__field d-block">
                        <div class="registration__subtitle">Введите код подтверждения</div>
                        <div class="registration__field-item">
                            <div class="f-input__wrapper ">
                                <input name="default" type="text" placeholder="......" class="f-input  ">
                            </div>
                            <button class="button  ">
                                <span>Подтвердить</span>
                            </button>
                            <a href="/" class="registration__action-link">
                                Отправить код повторно
                            </a>
                        </div>
                    </div>
                    <div class="modal__success">
                        <div class="modal__success-text">
                            Ваш номер телефона успешно изменен Номер телефона - ваш логин при входе личный кабинет.
                        </div>
                        <svg class="icon__succ" width="70px" height="70px">
                            <use xlink:href="/img/svg-symbols.svg#succ"></use>
                        </svg>
                    </div>
                    <div class="modal__error">
                        <div class="modal__error-text">Код введен неверно</div>
                        <svg class="icon__err" width="70px" height="70px">
                            <use xlink:href="/img/svg-symbols.svg#err"></use>
                        </svg>
                        <a href="/" class="registration__action-link">
                            Отправить код повторно
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{https://code.jquery.com/jquery-3.5.1.min.js}"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/restore-password.js}"></script>
<div th:replace="~{forms/restore-password-form.html :: #restore-password-form-modal}"></div>
<div th:replace="~{fragments/message-form.html :: #message-form-modal}"></div>
</body>
</html>
